@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  background-color: #131316;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  position: sticky;
  top: 0;
  background-color: rgb(28, 28, 28);
  z-index: 1;
}

nav .nav-container {
  width: 90%;
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  padding: 1px;
}

nav .nav-container ul {
  list-style: none;
}

nav .nav-container ul li {
  display: inline-block;
}

nav .nav-container ul a {
  display: inline-block;
  padding: 0px 20px;
  color: white;
  text-decoration: none;
}

nav .nav-container ul li.active {
  border-radius: 25px;
  background-color: white;
  transition: 0.3 ease background-color;
}

nav .nav-container ul li.active a {
  color: black;
}

section {
  display: grid;
  align-content: center;
  min-height: 100vh;
  min-width: 800px;
}

.hidden {
  display: inherit;
  place-items: center;
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
  margin-top: 30px;
  margin-bottom: 30px;
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: translateX(0);
}

.content {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-right: 60px;
  margin-left: 60px;
}

.design-principle-grid {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
  grid-column-gap: 25px;
  align-items: center;
}

.btn-group button {
  background: none;
  border: 1px solid #666;
  border-radius: 10px;
  color: #ffffff;
  padding: 10px 24px;
  cursor: pointer;
  width: 100%;
  display: block;
  font-size: 15px;
  padding: 5px;
  margin: 5px
}

.btn-group button:hover {
  background-color: #666;
}

.btn-group button.active {
  background-color: #6666;
}

.design-principle {
  padding: 30px;
  border: 3px solid #666;
  border-radius: 25px;
  justify-content: center;
}

.design-principle .principle-title {
  align-self: center;
  font-size: 25px;
}

.design-principle .principle-container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
  padding: 5px;
}

.design-principle .principle-list {
  flex-basis: calc(50% - 40px); /* Adjusted to account for padding */
  padding: 20px;
  display: flex;
  align-items: center; /* Center vertically */
}

.design-principle .principle-list ul {
  padding-left: 5px; /* Adjust the indentation as needed */
  margin: 0;
  list-style-type: circle; /* Change the list style as needed */
}

.design-principle .principle-list li {
  padding-top: 10px;
	padding-bottom: 10px;
}

.design-principle .principle-list b {
  font-size: 20px;
}

.design-principle .principle-iframes {
  flex-basis: calc(50% - 40px); /* Adjusted to account for padding */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-between;
	text-align: center;
  min-height: fit-content;
}

.design-principle .principle-iframes img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.design-principle .principle-iframes img:last-child {
  margin-bottom: 0px;
}

.iframe-container {
  position: relative;
  width: 100%; /* Change this to your desired width */
  height: 45%; /* Change this to your desired height */
  overflow: hidden;
}

.iframe-container iframe {
  width: 100%;
  height: 100%;
  border: none;
  overflow: hidden;
}

.first-iframe-container{
  pointer-events: none;
}

#leaderboard-iframe iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.iframe-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0); /* Transparent background */
  cursor: pointer; /* Optional: Change the cursor to pointer when hovering over the iframe */
  z-index: 2;
}

.iframe-container#leaderboard-iframe{
  height: 400px
}

.popup-message {
  position: relative;
  left: 3%;
  top: 8%;
  background-color: #ffffff;
  color: #000000;
  padding: 10px;
  border-radius: 5px;
  z-index: 10;
}

.btn-group button.active {
  /* Add your desired styles for the active state */
  background-color: #ccc;
}

.btn-group button.flashing {
  /* Add your desired styles for the active state */
  background-color: #cac528;

.heuristic-container {
  width: 75%;
  display: flex;
  flex-direction: column;
  border: 3px solid #666;
  border-radius: 25px;
  margin: auto;
}

.heuristic-menu {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.heuristic-menu select {
  padding: 5px;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  border: none;
  background: none;
  align-self: flex-start;
  width: 80%;
  text-align: center;
  color: white;
  border: 1px solid #666;
  border-radius: 10px;
}

.heuristic-menu select:hover {
  background-color: #6666;
}

.heuristic-content {
  padding: 30px;
}
