body{
    background: #e2e2e2;
}
canvas {
    display: block;
    margin: auto;
}

button:hover{
    background: #28ad4a;
}


.game-over-modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    max-width: 400px;
    background-color: white;
    border-radius: 12px;
    padding: 24px;
    text-align: center;
    z-index: 1000;
  }
  
  .game-over-modal.active {
    display: block;
  }
  
  .game-over-button {
    display: inline-block;
    margin: 8px;
    padding: 8px 16px;
    background-color: #f1c40f;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }