html, body {
  height: 100%;
  margin: 0;
}

#lhs {
  padding-top: 5vh;
  padding-bottom: 0vh;
}

#rhs {
  padding-bottom: 45vh;
}

body {
  background: rgb(80, 80, 80);
  display: flex;
  align-items: center;
  justify-content: center;
}

#body.hide {
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

#gameScreen {
  background: rgb(80, 80, 80);
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: math;
}

#gameScreen.hide {
  opacity: 0.03;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
}


canvas {
  background: black;
  border: 1px solid white;
}

#tetrisPlayButton {
  margin-right: 10px;

}

#score{
  color: red;
  background: white;
  width:100px;
  margin-left: 35px;
  text-align: center;
}

#holdingDiv{
  color: red;
  background: white;
  width:100px;
  margin-left: 35px;
  text-align: center;
}

#timer{
  color: red;
  background: white;
  width:100px;
  margin-left: 20px;
  margin-top: 20px;
  text-align: left;
}

#next{
  opacity: 1;
  /* display: flex;
  align-items:flex-start;
  justify-content: flex-end; */
  border: 1px solid #333333;
  box-shadow: 5px 7px 15px 5px rgba(0,0,0,0.75);

  
  /* position: absolute;
  top: 20%;
  right: calc(0% + 10px); */
  margin: 25px;
  /* padding:10px; */
  width: 120px;
  height: 120px;
  background-color: black;
}


#hold{
  opacity: 1;
  /* display: flex;
  align-items:flex-start;
  justify-content: flex-end; */
  border: 1px solid #333333;
  box-shadow: 5px 7px 15px 5px rgba(0,0,0,0.75);

  
  /* position: absolute;
  top: 20%;
  right: calc(0% + 10px); */
  margin: 25px;
  /* padding:10px; */
  width: 120px;
  height: 120px;
  background-color: black;
}


#game{
  background: black;
  opacity: 1;
  box-shadow: 5px 7px 15px 5px rgba(0,0,0,0.75);
}

#game.hide {
  opacity: 0.03;
}

/* For Pause Menu Styling */
#pause-button {
  font-size: larger;
  position: fixed;
  top: 10px;
  right: 10px;
}


.pause-modal  {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 400px;
  max-width: 80%;
  display: inline-block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pause-modal {
border-radius: 12px;
padding: 24px;
text-align: center;
z-index: 1000;
}

.pause-modal.active {
  display: inline-block;
  transform: translate(-50%, -50%) scale(1);
  transition: 200ms ease-in-out;
}

.pause-modal .pause-button {
  display: inline-block;
  margin: 8px;
  padding: 8px 16px;
  min-width: 40px;
  background-color: #f1c40f;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.pause-modal .pause-button:hover {
  background-color: #666;
}

#overlay {
position: fixed;
opacity: 0;
transition: 200ms ease-in-out;
top: 0;
left: 0;
bottom: 0;
right: 0;
background-color: rgba(0, 0, 0, 0.5);
pointer-events: none;
}

#overlay.active {
opacity: 1;
pointer-events: all;
}


.game-over-modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  max-width: 400px;
  background-color: white;
  border-radius: 12px;
  padding: 24px;
  text-align: center;
  z-index: 1000;
  font-family: cursive;
}

.game-over-modal.active {
  display: block;
}

.game-over-button {
  display: inline-block;
  margin: 8px;
  padding: 8px 16px;
  background-color: #f1c40f;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.game-over-button[disabled] {
  display: inline-block;
  margin: 8px;
  padding: 8px 16px;
  background-color: #c09f1a;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#highScore{
  font-family: cursive;
}