html, body {
  height: 100%;
  margin: 0;
}

#rhs {
  padding-bottom: 45vh;
}

body {
  background: rgb(80, 80, 80);
  display: flex;
  align-items: center;
  justify-content: center;
}

#body.hide {
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

#gameScreen {
  background: rgb(80, 80, 80);
  display: flex;
  align-items: center;
  justify-content: center;
}

#gameScreen.hide {
  opacity: 0.05;
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
}


canvas {
  background: black;
  border: 1px solid white;
}

#tetrisPlayButton {
  margin-right: 10px;

}

#score{
  color: red;
  background: white;
  width:100px;
  margin-left: 20px;
  text-align: center;
}

#holdingDiv{
  color: red;
  background: white;
  width:100px;
  margin-left: 20px;
  text-align: left;
}

#timer{
  color: red;
  background: white;
  width:100px;
  margin-left: 20px;
  margin-top: 20px;
  text-align: left;
}

#next{
  opacity: 1;
  /* display: flex;
  align-items:flex-start;
  justify-content: flex-end; */
  border: 1px solid #333333;

  
  /* position: absolute;
  top: 20%;
  right: calc(0% + 10px); */
  margin: 10px;
  /* padding:10px; */
  width: 120px;
  height: 120px;
  background-color: black;
}


#hold{
  opacity: 1;
  /* display: flex;
  align-items:flex-start;
  justify-content: flex-end; */
  border: 1px solid #333333;

  
  /* position: absolute;
  top: 20%;
  right: calc(0% + 10px); */
  margin: 10px;
  /* padding:10px; */
  width: 120px;
  height: 120px;
  background-color: black;
}


#game{
  background: black;
  opacity: 1;
}

#game.hide {
  opacity: 0.05;
}

/* For Pause Menu Styling */
#pause-button {
  position: fixed;
  top: 10px;
  right: 10px;
}

.pause-modal  {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 600px;
  height: 500px;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pause-modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.pause-modal .pause-button {
width: 80%;
height: 20%;
margin-top: 15px;
margin-bottom: 15px;
background-color: #999;
color: white;
font-size: 32px;
}

.pause-modal .pause-button:hover {
background-color: #666;
}

#overlay {
position: fixed;
opacity: 0;
transition: 200ms ease-in-out;
top: 0;
left: 0;
bottom: 0;
right: 0;
background-color: rgba(0, 0, 0, 0.5);
pointer-events: none;
}

#overlay.active {
opacity: 1;
pointer-events: all;
}


.game-over-modal  {
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%) scale(0);
transition: 200ms ease-in-out;
border: 1px solid black;
border-radius: 10px;
z-index: 10;
background-color: white;
width: 600px;
height: 500px;
max-width: 80%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.game-over-modal.active {
transform: translate(-50%, -50%) scale(1);
}