html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}
  
body div {
    width: auto;
    height: 100vh;
    background: rgba(55, 5, 66, 0.911);
    background-image: url("../Media/landing_page_background.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

body {
    background-image: linear-gradient(to right, rgba(34, 5, 34, 0.849) 2px, transparent 2px), linear-gradient(to bottom, rgb(125, 45, 253) 2px, transparent 2px);
    background-size: 30px 30px;
}

p {
    position: relative;
    top: 30vh;
    text-align: center;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 2vw;
    letter-spacing: 2.2px;
    word-spacing: 1px;
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    animation: oscillate 1s ease-in-out infinite;
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #49ff18, 0 0 30px #49FF18, 0 0 40px #49FF18, 0 0 55px #49FF18, 0 0 75px #49ff18;
}

.slither {
    position: relative;
    top: 10vh;
    left: 20vw;
    width: 200px;
    height: 50px;
    animation: infinite;
    transform: rotate(45deg);
}

#mine-1{
    position: relative;
    left: 56vw;
    max-width: 4vw;
    max-height: 4vw;
    animation: scale-animation-1 1.9s ease-in-out infinite;
}

#mine-2{
    position: relative;
    left: 50vw;
    top: 14vh;
    max-width: 4vw;
    max-height: 4vw;
    animation: scale-animation-2 2s ease-in-out infinite;
}

#mine-3{
    position: relative;
    left: 36vw;
    top: 4vh;
    max-width: 6vw;
    max-height: 6vw;
    animation: scale-animation-1 2.2s ease-in-out infinite;
}

.brick{
    width: 5%; 
    height: auto;
    position: absolute;
    transform: rotate(90deg);
    bottom: 630px;
}

@keyframes scale-animation-1 {
    0% {
        transform: scale(1);
    }
    50% {
         transform: scale(0.65);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes scale-animation-2 {
    0% {
         transform: scale(0.65);
    }
    50% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.65);
    }
}

@keyframes oscillate {
    0% {
        transform: translateX(-4px);
    }
    50% {
        transform: translateX(4px);
    }
    100% {
        transform: translateX(-4px);
    }
}

html, body {
    overflow-x: hidden; /* Hide horizontal scrollbar */
    overflow-y: hidden; /* Hide vertical scrollbar */
  }